{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="index_buttons">
        <a href="/login" class="btn btn-primary" id="login_button">Login</a>
        <a href="/register" class="btn btn-primary" id="register_button">Register</a>
    </div>
</div>

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Products</h3>
        <hr>
        <div class="dropdown">
            <button class="dropbtn">Product Category</button>
            <div class="dropdown-content">
                <a href="/Fruits">Fruits</a>
                <a href="/Vegetables">Vegetables</a>
                <a href="/Seeds">Seeds</a>
                <a href="/Dairy">Dairy</a>
            </div>
        </div>
        <form action="/home_filtered" method="post" style="display: inline;">
            <input type="hidden" name="sort" value="low_to_high">
            <button type="submit" class="btn btn-primary" id="filter_button">Filter (Low to High)</button>
        </form>
        <form action="/home_filtered" method="post" style="display: inline;">
            <input type="hidden" name="sort" value="high_to_low">
            <button type="submit" class="btn btn-primary" id="filter_button">Filter (High to Low)</button>
        </form>
        <div class="row">
            <form action="/checkout" method="post">
                <div class="form-group">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <div id={{product.id}}>
                                <div class="product_card" id="product_card">
                                    <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                    <div class="product_card-body">
                                        <h5 class="product_card-title">{{ product.item_name }}</h5>
                                        <p class="product_card-text">{{ product.info }}</p>
                                        {% if product.stock < 1 %}
                                            <p class="product_card-stock">Out of Stock</p>
                                            <p class="product_card-price">${{ product.price }}</p>
                                            <input type="number" class="quantity" id={{product.id}} name={{product.id}}
                                            placeholder="0" style="visibility: hidden;">
                                        {% else %}
                                            <p class="product_card-stock">Stock: {{ product.stock }}</p>
                                            <p class="product_card-price">${{ product.price }}</p>
                                            <input type="number" class="quantity" id={{product.id}} name={{product.id}}
                                            placeholder="0">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                  <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="checkout_button">Order</button>
                    </div>
            </form>
        </div>
    </div>
    {% endblock %}